Numbers:
1. Integers
2. Float
3. Complex

In [1]:
#Integers
a=10
type(a)

int

In [2]:
#Float
b=10.1
type(b)

float

In [3]:
#complex
c=1+2j
type(c)

complex

In [4]:
c.real

1.0

In [5]:
c.imag

2.0

In [6]:
#single line string - '' (or) ""
d='welcome to python training'
type(d)

str

In [12]:
#single line string - '' (or) ""
d="welcome to python training"
type(d)

str

In [10]:
#multi line string - ''' ''' (or) """ """
e='''welcome
to
python
'''
type(e)

str

In [11]:
f="""welcome
to
python
"""
type(f)

str

In [15]:
#string can be concatenated with string
'python'+'training'

'pythontraining'

In [16]:
#string cannot be concatenated with integer
'python'+12

TypeError: can only concatenate str (not "int") to str

In [17]:
#repetition - *
'python'*2

'pythonpython'

In [22]:
#slicing - positive slicing - [n=0:n=n-1:n=1]
#[start:stop:step]
a='pythontrainingtodayisthursday'
a[:6:3]
#start = 0
#stop = 6 = 6-1 = 5
#step = 3

'ph'

In [23]:
a[2:9]

'thontra'

In [25]:
a='python'
b='training'
a[-1]+b[0]

'nt'


## LIST INTRODUCTION

In [1]:
### ----- LIST ----- ###
#Sequence of numbers/strings/any other data type

## Creating an empty list:

There are two ways to create an empty list:
1. a=[]
2. b=list()

# Positive Indexing Rules:
#### 1. Positive Indexing starts with 0
#### 2. Positive Indexing starts from  left to right

In [15]:
a=[10,'a',[0,100,2],10.1,1+2j,True,[222,33,44,55,666]]
a[0]

10

In [14]:
a[2][1]

100

In [12]:
a[2][2]

2

In [11]:
a[3]

10.1

In [6]:
a[1]

'a'

In [10]:
a[2][1]

1

# Negative Indexing Rules:
#### 1. Negative Indexing starts with -1
#### 2. Negative Indexing starts from  right to left

In [20]:
a=[10,'a',[0,100,2],10.1,1+2j,True,[222,33,44,55,666]]
a[-1][-3]

44

In [23]:
a[-1][-2]

55

# Slicing

[start:stop:step]
[n=0:n=n-1:n=1]
[n=-1:n=n+1:n=-1]

Forward:1:stop>start
Backward:-1:start>stop

#### Positive slicing

In [35]:
a=[100,200,300,400,500,600,700,800]
a[0:2]

[100, 200]

In [34]:
#start-2-n-(n)-300
#stop-6-n-(n-1)-600
a[2:6]

[300, 400, 500, 600]

In [36]:
a[3:7]

[400, 500, 600, 700]

In [26]:
a[1:4]

[200, 300, 400]

In [3]:
a=[1,2,3,4,5]
a[0::-1]
a[0::-1]
a[0::-1]
a[0::-1]
a[1]=11
a

[1, 11, 3, 4, 5]

In [3]:
a[-1::1]
a[-1::2]
a[-1::3]
a[-1::4]

[5]

In [4]:
range(10)[slice(0, 5, 2)]

range(0, 5, 2)

In [5]:
#Empty List
l1 = []
l2 = list()
print(l1)
print(l2)

[]
[]

## Indexing and slicing:

In [6]:
a = [1,5,2,5,2,6,3,6,2,3,5]
#Indexing
b = a[5]
print(b)
#Slicing (start,stop,step)
c = a[3:5:2]
d = a[3:]
e = a[:-2]
print(c)
print(d)
print(e)

6
[5]
[5, 2, 6, 3, 6, 2, 3, 5]
[1, 5, 2, 5, 2, 6, 3, 6, 2]

## Built-in-functions:

In [7]:
#dir()
a = [1,2,3]
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [8]:
#1. append()
a = [1,2,3]
a.append(4)
print(a)

[1, 2, 3, 4]

In [9]:
#2. insert(),remove()
a = [1,2,3,1,1,1]
a.insert(2,10)
a.remove(1)
print(a)

[2, 10, 3, 1, 1, 1]

In [10]:
#3. sort() [ Both A.O and D.O ] & copy() function
a = [6,7,2,5,3,9,7,11,45,31]
a.sort()
b = a.copy()
b.sort(reverse = True)
print(a,b)

[2, 3, 5, 6, 7, 7, 9, 11, 31, 45] [45, 31, 11, 9, 7, 7, 6, 5, 3, 2]

In [11]:
#4. clear()
a = [1,2,3,4,5]
b = a.copy()
print(b)
b.clear()
print(b)

[1, 2, 3, 4, 5]
[]

In [12]:
#5. count()
a = [1,2,2,3,3,3,4,4,4,4]
a.count(3)

3

In [13]:
#6. index()
a = [4,2,5,2,1,3,6,8,3,3,3,2]
a.index(3)

5

In [14]:
#7. pop()
a = [1,2,3,4,5,6,7,8,9,10]
c = a.pop()
b = a.copy()
print(c,'\n',b)
b.pop(6)
print(b)

10
 [1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 8, 9]

In [3]:
#8. reverse()
a = [5,3,1,6,3,2,5,32,1]
print(a)
b = a.copy()
b.reverse()
print(b)

[5, 3, 1, 6, 3, 2, 5, 32, 1]
[1, 32, 5, 2, 3, 6, 1, 3, 5]

In [16]:
#9. extend()
a = [1,2,3]
b = [4,5,6]
a.extend(b)
print(a)
b = a.copy()
b.extend([7,8,9])
print(b)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
#10. copy()
a = [1,2,3]
b = []
b = a.copy()
print(b)

[1, 2, 3]

## Nested Lists (with indexing and slicing):

In [18]:
#NESTED LIST
#one can have many lists in a list, here are a few types....
#type 1
l1 = [1,2,3,4]
l2 = [5,6,7,8,9,10]
matrix1 = [l1,l2]
print(matrix1)

#indexing and slicing for type1

#indexing
print(matrix1[0][1])

#slicing
# ----- forward order -----
print(matrix1[1][1:-2])
# ----- reverse order -----
print(matrix1[1][-3:-6:-1])

print('-------------------------------------')
#type2
l1 = [1,2,3]
l2 = [4,5,6]
l3 = [7,8,9]
matrix2 = [l1,l2,l3]
print(matrix2)

#indexing and slicing for type2

#indexing
print(matrix2[2][1])

#slicing
# ----- forward order -----
print(matrix2[0][0:2])
# ----- reverse order -----
print(matrix2[0][-2:-4:-1])

[[1, 2, 3, 4], [5, 6, 7, 8, 9, 10]]
2
[6, 7, 8]
[8, 7, 6]
-------------------------------------
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
8
[1, 2]
[2, 1]

## List comprehension:

In [19]:
#LIST COMPREHENSION
#Sytanx: [expression for item in list if condition]

l1 = [1,2,3]
print([t**2 for t in l1])
#type(t)   #this variable t is created in run time, once the list is done, t is destroyed

[1, 4, 9]

In [20]:
l1 = [1,2,3]
l2 = [2,3,4]
l3 = [4,5,6]
matrix = [l1,l2,l3]
print(matrix)


first_col = [row[0] for row in matrix]
print(first_col)


first_col_op = [row[0]*2 for row in matrix]
print(first_col_op)

[[1, 2, 3], [2, 3, 4], [4, 5, 6]]
[1, 2, 4]
[2, 4, 8]

# Tuple Introduction:

In [21]:
t = (1,2,3)
print(t[0])
#t[0] = 4                #TUPLE IS AN IMMUTABLE DATA TYPE

1

## Creating an empty tuple:

In [22]:
#two ways for tuples like list:
t = ()
tt = tuple()

## Built-in-functions:

In [23]:
dir(t)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [24]:
#1. count()
t = (1,2,2,3,3,3,4,4,4,4)
t.count(2)

2

In [25]:
#2. index()
t.index(2)

1

# Strings Introduction:

In [26]:
#A String is a sequence of characters
#properties of strings
#strings are immutable
#s[1] = 'x'

In [27]:
### Concatenation
s = "hello"
p = " world"
s+p

'hello world'

In [28]:
s+p+" k"

'hello world k'

## Indexing and slicing:

In [29]:
#indexing and slicing
s = "hello world"
print(s[6:11])
print(s[::-1])    #print in reverse order
print(s[::-2])

print('------------------------------------------------------')
s = "hello world"
print(len(s))
#indexing:
print(s[8])

#slicing:
print(s[2:])
print(s[3:8:2])
print(s[-2::-1])

world
dlrow olleh
drwolh
------------------------------------------------------
11
r
llo world
l o
lrow olleh

#### Built-In-Methods of Strings:

In [30]:
#Strings
str = "hello world"
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [31]:
#BUILT-IN-METHODS
#1. capitalize()
str = "Hello World"
str.capitalize()

'Hello world'

In [32]:
#2. casefold()
str = "Hello World"
print(str.casefold())
str = "HELLO WORLD"
print(str.casefold())

hello world
hello world

In [28]:
#3. center()
# the width entered should be equal to or more than the length of the string
# default: spaces , else you can replace the spaces with letter as shown
str="Hello World"
print(len(str))
str.center(20,"a")
c="1" # string
c=1 # integer

11

In [30]:
#4. count()
#case-sensitive
#to count all letters regardless of the case, convert all letter to either lower or upper case and then find the count
str = "Hello World"
#print - built-in function
#count - built-in method [which is given after .]
print(str.count('a'))
str = "Hello world"
print(str.count('o'))

0
2

In [31]:
#5. encode()
# utf-8

In [36]:
#6. endswidth()
str = "Hello World"
print(str.endswith('u'))
print(str.endswith("d"))

False
True

In [32]:
#7. expandtabs()
#used for \t purposes - \t - tab, \n - new line
str = "Hello\tWorld"
str.expandtabs()
#jupyter notebook has the nature of printing by default, so even if we don't give print, it prints.

'Hello   World'

In [37]:
#8. find()
#if it doesn't find the alphabet, it throws -1
#finds the lowest index of the given search letter/substring
str = "Hello World"
print(str.find("y"))
print(str.find("rld"))
print(str.find("H"))   #difference between the find() and index()

-1
8
0

In [34]:
#9. format()
s1 = 100
s2 = 2
str = "Hello {} world {}".format(s1,s2)
print(str)

Hello 100 world 2

In [35]:
#10. format_map
s1='hello'
s1.format_map

In [39]:
#11. index()
#if it doesn't find the alphabet, it throws ValueError
str = "Hello World"
print(str.index("H"))
print(str.index("W"))
print(str.index("e"))  #difference in the index() and find()

0
6
1

In [40]:
#12. isalnum()
str = "Hello 123"       #contains space, hence returns false
print(str.isalnum())
str = "Hello123"
print(str.isalnum())

False
True

In [41]:
#13. isalpha()
str = "Hello 123"       #contains space, hence returns false
print(str.isalpha())
str = "Hello123"
print(str.isalpha())
str = "Hello"
print(str.isalpha())

False
False
True

In [42]:
#14. isacii()
str = " S , . / ; ' [ ] - '"
print(str.isascii())
str = "漢字"
print(str.isascii())

True
False

In [43]:
#15. isdecimal()
str = "Hello123"
print(str.isdecimal())
str = "Hello 123"
print(str.isdecimal())
str = "123"
print(str.isdecimal())

False
False
True

In [44]:
#16. isdigit()
str = "Hello123"
print(str.isdigit())
str = "Hello 123"
print(str.isdigit())
str = "123"
print(str.isdigit())
str = "123.45"
print(str.isdigit())

False
False
True
False

In [45]:
#17. isidentifier()
#reserved keywords like and,or,is,in etc, also it could start with an underscore __
str = "Hello World"
print(str.isidentifier())
str = "and"
print(str.isidentifier())
str = "is"
print(str.isidentifier())
str = "__mod__"
print(str.isidentifier())

False
True
True
True

In [46]:
#18. islower()
#gives a bool result whether the given string is in lower case or not
str = "Hello world"
str.islower()

False

In [47]:
#19. isnumeric()
str = "Hello123"
print(str.isnumeric())
str = "123"
print(str.isnumeric())
str = "12.3"
print(str.isnumeric())

False
True
False

In [48]:
#20. isprintable()
str = "Hello World"
print(str.isprintable())
str = " "
print(str.isprintable())
str = "12.3"
print(str.isprintable())

True
True
True

In [49]:
#21 isspace()
str = "Hello World"
print(str.isspace())
str = ""
print(str.isspace())
str = " "
print(str.isspace())

False
False
True

In [50]:
#21. istitle()
str = "Hello World"
print(str.istitle())
str = "Hello"
print(str.istitle())
str = "Hello world"
print(str.istitle())
str = "Hello world"
print(str.istitle())

True
True
False
False

In [51]:
#22. isupper()
str = "Hello world"
str.isupper()

False

In [52]:
#23. join()
str1 = "Hello"
str2 = "world"
print(str1.join(str2))
str3 = "P"
print(str3.join(str1))

wHellooHellorHellolHellod
HPePlPlPo

In [53]:
#24. ljust()
s = "Hello"
s.ljust(10)

'Hello     '

In [54]:
#25. lower()
s = "Hello"
s.lower()

'hello'

In [55]:
#26. lstrip()
#removes the leading whitespace
s = "     Hello World"
print(s)
print(s.lstrip())
s = " H E L L O"
print(s.lstrip())

     Hello World
Hello World
H E L L O

In [56]:
#27. maketrans()
''' Return a translation table usable for str.translate().  '''

#these are case sensitive
#Replaces the Ascii values of the intab with the outtab
intab = 'aeiou'
outab = "12345"
trantab = str.maketrans(intab,outab)
print(trantab)

{97: 49, 101: 50, 105: 51, 111: 52, 117: 53}

In [57]:
#28. partition()
#works as lpartition()
s1 = "Hello World"
s1.partition("o")

('Hell', 'o', ' World')

In [58]:
#29. replace()
s1 = "Hello"
s1.replace("e","aannjj")

'Haannjjllo'

In [59]:
#30. rfind()
#returns the rightmost or the highest index possible of a given letter/substring
s1 = "Hello World"
print(s1.rfind("a"))
print(s1.rfind("Q"))
s = "aaaaabb"
print(s.rfind("a"))

-1
-1
4

In [60]:
#31. rindex()
s1 = "Hello World"
print(s1.rindex("e"))
s = "aaaaabb"
print(s.rindex("a"))
print(s1.rindex("d"))

1
4
10

In [61]:
#32. rjust()
s = "Hello"
s.rjust(10)

'     Hello'

In [62]:
#33. rpartition()
s = "Hello World"
s.rpartition("o")

('Hello W', 'o', 'rld')

In [63]:
#34. rsplit()
s = "Hello World"
print(s.rsplit("o"))
print(s.rsplit("l"))

['Hell', ' W', 'rld']
['He', '', 'o Wor', 'd']

In [64]:
#35. rstrip()
#removes the trailing whitespace
s ="Hello World   "
print(s)
s.rstrip()

Hello World

'Hello World'

In [65]:
#36. split()
s = "Hello World"
print(s.count("l"))
print(s.split("l"))
print(s.split("l",1))
print(s.split("l",2))
print(s.split("l",3))

3
['He', '', 'o Wor', 'd']
['He', 'lo World']
['He', '', 'o World']
['He', '', 'o Wor', 'd']

In [66]:
#37. splitlines()
s = "Hello\nworld"
s.splitlines()

['Hello', 'world']

In [67]:
#38. startswith()
s = "Hello"
print(s.startswith("H"))
print(s.startswith("S"))

True
False

In [68]:
#39. strip()
#removes the trailing and the leading whitespace
s = "   Hello World   "
s.strip()

'Hello World'

In [69]:
#40. swapcase()
s = "Hello world"
s.swapcase()

'hELLO WORLD'

In [70]:
#41. title()
s = "Hello world"
s.title()

'Hello World'

In [71]:
#42. translate()
''' Replace each character in the string using the given translation table.  '''
#maketrans() and translate() of the strings:
#these are case sensitive
intab = 'aeiou'
outab = "12345"
trantab = str.maketrans(intab,outab)
print(trantab)

s = "Hello world, I am Hello"
print(s.translate(trantab))

{97: 49, 101: 50, 105: 51, 111: 52, 117: 53}
H2ll4 w4rld, I 1m H2ll4

In [72]:
#43. upper()
s = "Hello"
s.upper()

'HELLO'

In [73]:
#44. zfill()
s = "      123Hello World"
print(len(s))
print(s.zfill(50))
print(s.zfill(23))
print(s.zfill(25))

20
000000000000000000000000000000      123Hello World
000      123Hello World
00000      123Hello World

# Dictionary Introduction:

In [76]:
#dictionary{keys:values}
#item = key and value

## Creating an empty dictionary:

In [77]:
#dicionary
#two ways of creating an empty dictionary
d = {}
dd = dict()

## Indexing and slicing:

In [78]:
#indexing and slicing
d = {'k1':123,'k2':'123','k3':[1,2,3],'k4':['1','2','3'],'k5':(1,2,3)}
print(d['k1'])
print(d['k2'][2]) 
print(d['k4'][1:])
print(d['k4'][2::-1])

123
3
['2', '3']
['3', '2', '1']

## Built-in-functions:

In [79]:
dir(d)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [80]:
#1. clear()
d = {'k1':'v1','k2':'v2'}
d.clear()
print(d)

{}

In [81]:
#2. copy
d1 = {'k1':'v1','k2':'v2'}
d2 = {}
d2 = d1.copy()
print(d2)

{'k1': 'v1', 'k2': 'v2'}

In [82]:
#3. fromkeys
#Create a new dictionary with keys from iterable and values set to value.
d = {'k1':'v1','k2':'v2'}
d.fromkeys("k3","v3")

{'k': 'v3', '3': 'v3'}

In [83]:
#4. get()
d = {'k1':'v1','k2':'v2'}
print(d.get('k1'))
print(d.get('k3'))

v1
None

In [84]:
#5. items()
d = {'k1':'v1','k2':'v2'}
d.items()

dict_items([('k1', 'v1'), ('k2', 'v2')])

In [85]:
#6. keys()
d = {'k1':'v1','k2':'v2'}
d.keys()

dict_keys(['k1', 'k2'])

In [86]:
#7. pop()
d = {'k1':'v1','k2':'v2','k3':'v3','k4':'v4'}
print(d.pop('k1'))
print(d)
print(d.pop('k2'))

v1
{'k2': 'v2', 'k3': 'v3', 'k4': 'v4'}
v2

In [87]:
#7. popitem()
d = {'k1':'v1','k2':'v2','k3':'v3','k4':'v4'}
print(d.popitem())
print(d)
print(d.popitem())

('k4', 'v4')
{'k1': 'v1', 'k2': 'v2', 'k3': 'v3'}
('k3', 'v3')

In [88]:
#8. setdefault()
# Insert key with a value of default if key is not in the dictionary.
d = {'k1':'v1','k2':'v2','k3':'v3','k4':'v4'}
print(d.setdefault('k5','v5'))
print(d.setdefault('k2','vv2'))
d

v5
v2

{'k1': 'v1', 'k2': 'v2', 'k3': 'v3', 'k4': 'v4', 'k5': 'v5'}

In [89]:
#9. update()
#used to update the value of a key, a key can never be changed again
#here , we used a for loop to update a value of a key
d = {'k1':'v1','k2':'v2','k3':'v3','k4':'v4'}
for k in d:
    if k=='k2':
        d[k] = 'kk2'

print(d['k2'])

kk2

In [90]:
#10. values()
d = {'k1':'v1','k2':'v2','k3':'v3','k4':'v4'}
d.values()

dict_values(['v1', 'v2', 'v3', 'v4'])

## Nested dictionary:

In [91]:
#NESTED DICTIONARY
d = {'k1':{'nestedk1':{'subnestedk1':'v1'}}}
print(d['k1'])
print(d['k1']['nestedk1'])
print(d['k1']['nestedk1']['subnestedk1'])
print(d['k1'].keys())
print(d['k1']['nestedk1'].keys())
#print(d['k1']['nestedk1']['subnestedk1'].keys())

{'nestedk1': {'subnestedk1': 'v1'}}
{'subnestedk1': 'v1'}
v1
dict_keys(['nestedk1'])
dict_keys(['subnestedk1'])

In [92]:
d = {'k1':{'k2':{'k3':[1,2,3]}}}
print(d['k1']['k2']['k3'][1])
print(d.keys())
print(d['k1'].keys())
print(d['k1']['k2'].keys())

2
dict_keys(['k1'])
dict_keys(['k2'])
dict_keys(['k3'])

## Dictionary comprehension

In [93]:
### ----- Dictionary Comprehension ----- ###
#Syntax for dictionray Comprehension
''' {key:value for item in list if condition} '''

{x:x**2 for x in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

# SET Introduction

## Creating an empty set:

In [94]:
#Creating empty sets
#only 1 way 
x = set()
print(x)   #empty set

set()

## Difference between a set and a list:

In [95]:
#removes duplicates, this is the difference between list and a set
l = [1,2,2,3,3,3,4,4,4,4]
print(l)
s = set(l)
print(s)

[1, 2, 2, 3, 3, 3, 4, 4, 4, 4]
{1, 2, 3, 4}

## Indexing and slicing:

In [96]:
s = {1,2,3,4,5,6,7,8,9}
print(len(s))

#indexing:
#print(s[4])

#slicing:
#print(s[2::-1])
#print(s[2:9:2])

9

## Built-in-functions:

In [97]:
#built-in-functions
s = {1,2,3,4}
dir(s)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [98]:
#1. add()
''' Add an element to a set.

This has no effect if the element is already present. '''


s.add(1)
s.add(5)
print(s)

{1, 2, 3, 4, 5}

In [99]:
#2. clear()
''' Remove all elements from this set. '''
s.clear()
print(s)

set()

In [100]:
#3. copy()
''' Return a shallow copy of a set.  '''
s = {1,2,3}
print(s)
s1 = s.copy()
print(s1)

{1, 2, 3}
{1, 2, 3}

In [101]:
#4. difference()
''' Return the difference of two or more sets as a new set.

(i.e. all elements that are in this set but not the others.) '''


##type1
s1 = {1,2,3,4}
s2 = {2,3,4}
s3 = s1.difference(s2)
print("s1 is: ",s1)
print("s2 is: ",s2)
print("s3 is: ",s3)
print("----------")

##type2
s1 = {1,2,3,4}
s2 = {2,3,4}
s3 = s2.difference(s1)
print("s1 is: ",s1)
print("s2 is: ",s2)
print("s3 is: ",s3)

print("----------")
##type3
s1 = {1,2,3,4}
s2 = {3,5,6,7}
s3 = s1.difference(s2)
print("s1 is: ",s1)
print("s2 is: ",s2)
print("s3 is: ",s3)
print("----------")

##type4
s1 = {1,2,3,4}
s2 = {3,5,6,7}
s3 = s2.difference(s1)
print("s1 is: ",s1)
print("s2 is: ",s2)
print("s3 is: ",s3)

s1 is:  {1, 2, 3, 4}
s2 is:  {2, 3, 4}
s3 is:  {1}
----------
s1 is:  {1, 2, 3, 4}
s2 is:  {2, 3, 4}
s3 is:  set()
----------
s1 is:  {1, 2, 3, 4}
s2 is:  {3, 5, 6, 7}
s3 is:  {1, 2, 4}
----------
s1 is:  {1, 2, 3, 4}
s2 is:  {3, 5, 6, 7}
s3 is:  {5, 6, 7}

In [102]:
#5. difference_update()
''' Remove all elements of another set from this set  '''

##type1
s1 = {1,2,3,4}
s2 = {2,3,4}
s3 = s1.difference_update(s2)
print("s1 is: ",s1)
print("s2 is: ",s2)
print("s3 is: ",s3)

##type2
s1 = {1,2,3,4}
s2 = {2,3,4}
s3 = s2.difference_update(s1)
print("s1 is: ",s1)
print("s2 is: ",s2)
print("s3 is: ",s3)

s1 is:  {1}
s2 is:  {2, 3, 4}
s3 is:  None
s1 is:  {1, 2, 3, 4}
s2 is:  set()
s3 is:  None

In [103]:
#6. discard()
''' Remove an element from a set if it is a member. If the element is not a member, do nothing. '''


s = {1,2,3,4,5}
s.discard(6)
print(s)
s.discard(4)
print(s)

{1, 2, 3, 4, 5}
{1, 2, 3, 5}

In [104]:
#7. intersection()
''' Return the intersection of two sets as a new set. (i.e. all elements that are in both sets.) '''


##type1
s1 = {1,2,3,4,5}
s2 = {3,5,2,6,5}
s3 = s1.intersection(s2)
print("s1 is: ",s1)
print("s2 is: ",s2)
print("s3 is: ",s3)

##type2
s1 = {1,2,3}
s2 = {4,5,6,7,8}
s3 = s1.intersection(s2)
print("s1 is: ",s1)
print("s2 is: ",s2)
print("s3 is: ",s3)

s1 is:  {1, 2, 3, 4, 5}
s2 is:  {2, 3, 5, 6}
s3 is:  {2, 3, 5}
s1 is:  {1, 2, 3}
s2 is:  {4, 5, 6, 7, 8}
s3 is:  set()

In [105]:
#8. intersection_update()
''' Update a set with the intersection of itself and another. '''


##type1
s1 = {1,2,3,4,5}
s2 = {3,5,2,6,5}
s3 = s1.intersection_update(s2)
print("s1 is: ",s1)
print("s2 is: ",s2)
print("s3 is: ",s3)

print('----------------')
##type2
s1 = {1,2,3,4,5}
s2 = {3,5,2,6,5}
s3 = s2.intersection_update(s1)
print("s1 is: ",s1)
print("s2 is: ",s2)
print("s3 is: ",s3)

print('---------------------------------------------------')
##type3
s1 = {1,2,3}
s2 = {4,5,6,7,8}
s3 = s1.intersection_update(s2)
print("s1 is: ",s1)
print("s2 is: ",s2)
print("s3 is: ",s3)

print('----------------')

##type4
s1 = {1,2,3}
s2 = {4,5,6,7,8}
s3 = s2.intersection_update(s1)
print("s1 is: ",s1)
print("s2 is: ",s2)
print("s3 is: ",s3)

s1 is:  {2, 3, 5}
s2 is:  {2, 3, 5, 6}
s3 is:  None
----------------
s1 is:  {1, 2, 3, 4, 5}
s2 is:  {2, 3, 5}
s3 is:  None
---------------------------------------------------
s1 is:  set()
s2 is:  {4, 5, 6, 7, 8}
s3 is:  None
----------------
s1 is:  {1, 2, 3}
s2 is:  set()
s3 is:  None

In [106]:
#9. isdisjoint()
''' Return True if two sets have a null intersection. '''


s1 = {1,2,3,4,5}
s2 = {2,5,7,4,8}
s3 = {12,34,12,45}
print(s1.isdisjoint(s2))    #has intersection
print(s1.isdisjoint(s3))    #doesn't have intersection

False
True

In [107]:
#10. issubset()
''' Report whether another set contains this set.  '''

s1 = {1,2,3,4,5,6,7,8,9}
s2 = {2,5,6,4}
s3 = {2,76,34,21,32,5,6,7,8}
print(s2.issubset(s1))
print(s3.issubset(s1))

True
False

In [108]:
#11. issuperset()
''' Report whether this set contains another set.  '''

s1 = {1,2,3,4,5,6,7,8,9}
s2 = {2,5,6,4}
s3 = {2,76,34,21,32,5,6,7,8}
print(s1.issuperset(s2))
print(s1.issuperset(s3))

True
False

In [109]:
#12. pop()
''' remove and return an arbitrary set element. Raises KeyError if the set is empty. Can take no arguements'''

s = {1,2,3,4,5,6,7,8,9}
x = s.pop()
print(s)
y = s.pop()
print(s)
print(x)
print(y)

{2, 3, 4, 5, 6, 7, 8, 9}
{3, 4, 5, 6, 7, 8, 9}
1
2

In [110]:
#13. remove()
''' Remove an element from a set; it must be a member. If the element is not a member, raise a KeyError. '''

s = {1,2,3,4,5,6,7,8,9}
s.remove(2)
print(s)

{1, 3, 4, 5, 6, 7, 8, 9}

In [111]:
#14. symmetric_difference()
''' Return the symmetric difference of two sets as a new set. (i.e. all elements that are in exactly one of the sets.) '''

##type1
s1 = {1,2,3,4,5}
s2 = {3,5,2,6,5}
s3 = s1.symmetric_difference(s2)
print("s1 is: ",s1)
print("s2 is: ",s2)
print("s3 is: ",s3)

print('----------------')
##type2
s1 = {1,2,3,4,5}
s2 = {3,5,2,6,5}
s3 = s2.symmetric_difference(s1)
print("s1 is: ",s1)
print("s2 is: ",s2)
print("s3 is: ",s3)

print('---------------------------------------------------')
##type3
s1 = {1,2,3}
s2 = {4,5,6,7,8}
s3 = s1.symmetric_difference(s2)
print("s1 is: ",s1)
print("s2 is: ",s2)
print("s3 is: ",s3)

print('----------------')

##type4
s1 = {1,2,3}
s2 = {4,5,6,7,8}
s3 = s2.symmetric_difference(s1)
print("s1 is: ",s1)
print("s2 is: ",s2)
print("s3 is: ",s3)

s1 is:  {1, 2, 3, 4, 5}
s2 is:  {2, 3, 5, 6}
s3 is:  {1, 4, 6}
----------------
s1 is:  {1, 2, 3, 4, 5}
s2 is:  {2, 3, 5, 6}
s3 is:  {1, 4, 6}
---------------------------------------------------
s1 is:  {1, 2, 3}
s2 is:  {4, 5, 6, 7, 8}
s3 is:  {1, 2, 3, 4, 5, 6, 7, 8}
----------------
s1 is:  {1, 2, 3}
s2 is:  {4, 5, 6, 7, 8}
s3 is:  {1, 2, 3, 4, 5, 6, 7, 8}

In [112]:
#15. symmetric_difference_update()
''' Update a set with the symmetric difference of itself and another. '''


##type1
s1 = {1,2,3,4,5}
s2 = {3,5,2,6,5}
s3 = s1.symmetric_difference_update(s2)
print("s1 is: ",s1)
print("s2 is: ",s2)
print("s3 is: ",s3)

print('----------------')
##type2
s1 = {1,2,3,4,5}
s2 = {3,5,2,6,5}
s3 = s2.symmetric_difference_update(s1)
print("s1 is: ",s1)
print("s2 is: ",s2)
print("s3 is: ",s3)

print('---------------------------------------------------')
##type3
s1 = {1,2,3}
s2 = {4,5,6,7,8}
s3 = s1.symmetric_difference_update(s2)
print("s1 is: ",s1)
print("s2 is: ",s2)
print("s3 is: ",s3)

print('----------------')

##type4
s1 = {1,2,3}
s2 = {4,5,6,7,8}
s3 = s2.symmetric_difference_update(s1)
print("s1 is: ",s1)
print("s2 is: ",s2)
print("s3 is: ",s3)

s1 is:  {1, 4, 6}
s2 is:  {2, 3, 5, 6}
s3 is:  None
----------------
s1 is:  {1, 2, 3, 4, 5}
s2 is:  {1, 4, 6}
s3 is:  None
---------------------------------------------------
s1 is:  {1, 2, 3, 4, 5, 6, 7, 8}
s2 is:  {4, 5, 6, 7, 8}
s3 is:  None
----------------
s1 is:  {1, 2, 3}
s2 is:  {1, 2, 3, 4, 5, 6, 7, 8}
s3 is:  None

In [113]:
#16. union()
''' Return the union of sets as a new set. (i.e. all elements that are in either set.) '''

##type1
s1 = {1,2,3,4,5}
s2 = {3,5,2,6,5}
s3 = s1.union(s2)
print("s1 is: ",s1)
print("s2 is: ",s2)
print("s3 is: ",s3)

print('------------------------------')
##type2
s1 = {1,2,3}
s2 = {4,5,6,7,8}
s3 = s1.union(s2)
print("s1 is: ",s1)
print("s2 is: ",s2)
print("s3 is: ",s3)

s1 is:  {1, 2, 3, 4, 5}
s2 is:  {2, 3, 5, 6}
s3 is:  {1, 2, 3, 4, 5, 6}
------------------------------
s1 is:  {1, 2, 3}
s2 is:  {4, 5, 6, 7, 8}
s3 is:  {1, 2, 3, 4, 5, 6, 7, 8}

In [114]:
#17. update()
''' Update a set with the union of itself and others.  '''

##type1
s1 = {1,2,3,4,5}
s2 = {3,5,2,6,5}
s3 = s1.update(s2)
print("s1 is: ",s1)
print("s2 is: ",s2)
print("s3 is: ",s3)

print('------------------------------')
##type2
s1 = {1,2,3}
s2 = {4,5,6,7,8}
s3 = s1.update(s2)
print("s1 is: ",s1)
print("s2 is: ",s2)
print("s3 is: ",s3)

s1 is:  {1, 2, 3, 4, 5, 6}
s2 is:  {2, 3, 5, 6}
s3 is:  None
------------------------------
s1 is:  {1, 2, 3, 4, 5, 6, 7, 8}
s2 is:  {4, 5, 6, 7, 8}
s3 is:  None